@import url(../../node_modules/photoshopjs-panel/styles/css/panel.css);
/* line 3, ../sass/panel.sass */
.size-small .fittableButton {
  width: 54px !important;
}
/* line 7, ../sass/panel.sass */
.size-medium .fittableButton {
  width: 60px !important;
}
/* line 11, ../sass/panel.sass */
.size-large .fittableButton {
  width: 70px !important;
}
