el()
	position: relative
	display: inline-block
	height: row()
	width: 70px

	margin-bottom: 8px
	margin-right: 5px

	vertical-align: bottom
	line-height: 16px

	outline: none !important

	&.big
		width: 140px

	.size-medium &
		height: row() + 2px
		line-height: 13px

	.size-large &
		height: row() + 3px
		line-height: 14px

.noMargin
	margin-right: 0

input, button, a.button
	el()

::-webkit-input-placeholder
	&.light1, &.light2
		color: #666

input, button, a
	color_text()

button
	font-size: inherit

input[type=text]
	padding-left: 4px
	padding-right: 4px

	outline: none

	font-size: inherit
	font-family: Helvetica, Arial, Tahoma, sans-serif

	border: 1px solid

	.dark1 &
		background: #212121
		border-color: #111111
		box-shadow: 0 1px 0 #464646, inset 0 1px 0 #1e1e1e

	.dark2 &
		background: #3a3a3a
		border-color: #2a2a2a
		box-shadow: 0 1px 0 #696969, inset 0 1px 0 #373737

	.light1 &
		background: #eeeeee
		border-color: #5e5e5e
		box-shadow: 0 1px 0 #c6c6c6, inset 0 1px 0 #cfcfcf

	.light2 &
		background: #ffffff
		border-color: #888888
		box-shadow: 0 1px 0 #e8e8e8, inset 0 1px 0 #d9d9d9

	&:focus
		background: white
		color: black
		border-color: rgb(0, 189, 255)
		box-shadow: 0 0 4px -1px black !important

		.light2 &
			box-shadow: 0 0 4px -1px rgb(0, 199, 255) !important


button, input[type=submit], a.button
	btn()

input[type=text], button, a.button
	border-radius: 2px

@import "./inputs/button"
@import "./inputs/rotator"
@import "./inputs/direction"
@import "./inputs/orientation"