section
	display: block
	position: relative
	padding: 0 6px
	white-space: nowrap

div > hr, section > hr
	margin-top: 1px
	margin-bottom: 6px

	.size-large &
		margin-top: 2px
		margin-bottom: 7px

code
	display: inline-block