.serverNotification
	position: absolute 0
	border-radius: 4px
	z-index: 1000

	&:before
		content: "\0020"
		display: block
		position: absolute 0

		color_panel_bg()
		opacity: 0.9

		transform: translateZ(-1px)
		pointer-events: none

	opacity: 0
	transform: scale(1.2) translateZ(1px)
	transition: all 0.2s
	pointer-events: none

	&.visible
		opacity: 1
		pointer-events: auto !important
		transform: scale(1)

.serverNotification-msg
	position: absolute
	top: 30px
	width: 100%
	display: inline-block
	clear: both

	text-align: center
	text-decoration: none

	color: #FFF
	font-size: 11px
	cursor: pointer

	&:hover
		text-decoration: underline

.serverNotification-discard
	position: absolute
	top: 70px
	left: 45px
	left: calc(50% - 80px)
	width: 160px