.fittableButton

	.size-small &

		width: 54px !important

	.size-medium &

		width: 60px !important

	.size-large &

		width: 70px !important

@import "../../node_modules/photoshopjs-panel/styles/css/panel.css"