button, a.button, input[type=submit]
	padding: 4px 8px
	width: auto
	height: 25px
	top: 1px

	line-height: 15px

	.size-large &
		height: 25px + 3px

	.size-medium &
		height: 25px + 2px

a.button
	padding-top: 1px