.fittableButton
	.size-small &
		width: 54px !important

	.size-medium &
		width: 60px !important

	.size-large &
		width: 70px !important

row(n = 1)
	n * 22px

@import "./panel/colors"
@import "./panel/generals"
@import "./panel/inputs"
@import "./panel/layout"
@import "./panel/serverNotification"